<section>
  <div class="page-header">
    <h1>Recruiters</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="recruiter in vm.recruiters"
       ui-sref="recruiters.view({ recruiterId: recruiter._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="recruiter.created | date:'mediumDate'"></span>
        by
        <span ng-if="recruiter.user" ng-bind="recruiter.user.displayName"></span>
        <span ng-if="!recruiter.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="recruiter.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.recruiters.$resolved && !vm.recruiters.length">
    No Recruiters yet, why don't you <a ui-sref="recruiters.create">create one</a>?
  </div>
</section>
