<section>
  <div class="page-header">
    <h1 ng-bind="vm.recruiter.firstName"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.recruiter.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="recruiters.edit({ recruiterId: vm.recruiter._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.recruiter.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.recruiter.user"
            ng-bind="vm.recruiter.user.displayName"></span>
      <span ng-if="!vm.recruiter.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.recruiter.content"></p>
</section>
