<section ng-controller="ArticlesController" ng-init="find()">
  <div class="mainf">
    <div class="page-header" style="margin-bottom: 0">
      <h1>MIL Blog Posts</h1>
    </div>

    <div class="list-group | col-md-10">
      <span style="font-size:30px; vertical-align:middle;">Filters: </span>
      <span style="font-size:small; vertical-align:middle;">
        <a ng-repeat="tag in tags" ng-click=deleteTags(tag)>
          <font color="red"><span>&#10006 </span></font>{{tag}}
        </a>
      </span>

      <a ng-repeat="article in articles | filter:filterByTags" ui-sref="articles.view({articleId: article._id})" class="list-group-item">


        <span style="vertical-align:middle;"><h2 class="list-group-item-heading" ng-bind="article.title"></h2></span>
        <span style="vertical-align:middle;">
          <small class="list-group-item-text">
          Posted on
            <span ng-bind="article.created | date:'mediumDate'"></span>
            by
            <span ng-bind="article.user.displayName"></span>
          </small>
        </span>


        <p class="list-group-item-text" ng-bind="article.content"></p>
        <p></p>
        <small>Tags: <span ng-bind="article.tags"></span></small>
      </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
      No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
    </div>
    <div class="col-md-2">
      <table cell-spacing="0">
        <tr>
          <th>
            <h3>Tags</h3>
          </th>
        </tr>
        <tr ng-repeat="tag in commonTags" >
          <td ng-click=addTags(tag)>
            <h5><a href = "">{{tag}}</a></h5>
          </td>
        </tr>
        <tr ng-repeat= "article in articles">
          <td ng-repeat="tags in article.tags | filter:commonTagFilter" ng-click=addTags(tags)>
            <h5><a href = "">{{tags}}</a></h5>
          </td>
        </tr>
      </div>
    </div>
</section>
