<section>
<div >
  <h3 class="col-md-12 text-center">Invite New User</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
  <form name="newUserForm" ng-submit="invite(newUserForm.$valid)" class="signin" novalidate autocomplete="off">
    <fieldset>
      <div class="form-group" show-errors>
        <label for="username">New User Email</label>
        <input type="text" id="useremail" name="useremail" class="form-control" ng-model="newUser.primaryEmail.email" placeholder="Email">
        <div ng-messages="newUserForm.email.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Email address is required.</p>
          <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
        </div>
        <label for="username">New User UF Id</label>
        <input type="text" id="userId" name="userId" class="form-control" ng-model="newUser.ufid" placeholder="UF Id">
        <input type="checkbox" id="makeAdmin" name="makeAdmin" ng-model="newUser.roles.admin"> Make invited user an Administrator?
      </div>
      <button type="submit" class="btn btn-primary">Invite User</button>
      &nbsp; or&nbsp;
      <a ui-sref="authentication.invite">Cancel</a>
      <alert type="danger" ng-show="error" class="text-center text-danger">
        <span ng-bind="error"></span>
      </alert>
    </fieldset>
  </form>
</div>
</div>
</section>
