<div ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center">Please enter your invite code.</h3>
  <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
    <fieldset>
      <div class="form-group" show-errors>
        <input type="text" id="invitecode" name="invitecode" class="form-control" ng-model="credentials.invitecode" placeholder="Invite code">
        <div ng-messages="userForm.username.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Invite code is required.</p>
        </div>
      </div>
      <div class="text-center form-group">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
      <div class="text-center forgot-password">
        <a ui-sref="invite.forgot">No invite code? Check to see if you have been invited</a>
      </div>
      <alert type="danger" ng-show="error" class="text-center text-danger">
        <span ng-bind="error"></span>
      </alert>
    </fieldset>
  </form>
</div>
