@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

.navbar-collapse .dropdown-menu{
  background-color: #0021A5;
}

.navbar-collapse .navbar-nav .navbar-right{
  background-color: #fa4616;
}

.navbar-nav {
  background-color: #fa4616;
}

.navbar .navbar-brand {
  background-color:  #0021A5;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active{
  background-color: #0021A5 !important;
  color: #fa4616 !important;
}

.navbar-default {
  background-color: #fa4616;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

@media (max-width: 767px) {
  .navbar-nav {
    background-color: #0021A5;
  }

  .navbar-header {
    background-color: #fa4616;
  }

  .navbar .navbar-brand {
    background-color:  #0021A5 !important;
  }

  .navbar-collapse {
    background-color: #0021A5;
  }

  .navbar-header .navbar-toggle {
    background-color: #fa4616;
  }

  .navbar-default {
    background-color: #fa4616;
  }
}

.active{
  color: white;
}

.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.dropdown-menu ng-scope{
    background: #000000;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

h1, h2, h3, a, div {
  font-family: 'Ubuntu', serif;
}

p, body {
  font-family: 'Roboto', sans-serif;
}

.well {
    background: rgba(0, 33, 165, 0.1) !important;
}

.jumbotron{
    background: rgba(0, 33, 165, 0.1) !important;
}

.html{
  background: url("https://com-psychiatry-pep.sites.medinfo.ufl.edu/files/2014/07/Century-Tower-APA-Cropped.jpg") !important;
}
